<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta itemprop="description" name="Description"
            content="Async Fragments Demo using Marko"/>
        <title>Add Book</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/bookAdd.css">
    </head>
	  <body>
      <form  method="post">
      <div id="wrapper"> 
      <div class="panel panel-info" id="panel">
        <div class="panel-heading"> <h3 class="panel-title">Add Book</h3> 
        <label for="usr">Title:</label>
        <input type="text" class="form-control" id="usr" name="title">
        <label for="usr">Author:</label>
        <input type="text" class="form-control" id="usr" name="author">
        <label for="usr">ISBN:</label>
        <input type="text" class="form-control" id="usr" name="isbn">
        <label for="usr">Price:</label>
        <input type="text" class="form-control" id="usr" name="price">
        <input type="submit" class="btn btn-primary" value="Add Book" id="addBook">
        </div>
      </div>
      </div>
      </form>
    </body>
</html>