<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta itemprop="description" name="Description"
            content="Async Fragments Demo using Marko"/>
        <title>Add Review</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/bookAdd.css">
    </head>
    <body>
      <form  method="post">
      <div id="wrapper"> 
      <div class="panel panel-info" id="panel">
        <div class="panel-heading"> <h3 class="panel-title">Add Review</h3> 
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr" name="Name">
        <label for="usr">Comment:</label>
        <input type="text" class="form-control" id="usr" name="comment">
        <label for="usr">Rating:</label>
        <input type="text" class="form-control" id="usr" name="rating">
        <input type="submit" class="btn btn-primary" value="Submit" id="addBook">
        </div>
      </div>
      </div>
      </form>
    </body>
</html>
      
       
    
