<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta itemprop="description" name="Description"
  content="Async Fragments Demo using Marko"/>

  <title>UpdateBook</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/bookAdd.css">
</head>

<body>
 <form  method="post">
 <div id="wrapper"> 
      <div class="panel panel-info" id="panel">
        <div class="panel-heading">
        <label for="usr">Title:</label>
        <input type="text" class="form-control" id="usr" name="title" value=data.book.title>
        <label for="usr">Author:</label>
        <input type="text" class="form-control" id="usr" name="author" value=data.book.author>
        <label for="usr">ISBN:</label>
        <input type="text" class="form-control" id="usr" name="isbn" value=data.book.isbn>
        <label for="usr">Price:</label>
        <input type="text" class="form-control" id="usr" name="price" value=data.book.price> 
        <input type="submit" class="btn btn-primary" value="Update Book" id="addBook">
        </div>
      </div>
  </div>
  
     </form>
</body>
</html>










